.page {
  --button-primary: #c9c1c1;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--assistant);

  background: linear-gradient(180deg, black 20%, rgb(65, 0, 65) 100%);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo {
  align-self: center;
  height: auto;
  width: 600px;
}

.address {
  font-family: var(--cactus);
  font-size: 32px;
  margin-bottom: 0.5rem;
}

.phone {
  font-family: var(--cactus);
  color: var(--foreground);
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 32px;
  margin-bottom: 6rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 1rem 1rem 6rem 1rem;
}

#heroSection {
  flex-direction: row;
  align-items: flex-start;
  border-top: 1px solid  rgb(119, 90, 15);
  border-bottom: 1px solid  rgb(119, 90, 15);
  padding-bottom: 2rem;
  padding-top: 4rem;
  margin-bottom: 0rem;
  width: 1200px;
}

#copySection {
  align-items: flex-start;
  padding: 0rem 0rem 2rem 0rem;
}

.tagLine {
  align-self: center;
  font-family: var(--assistant);
  font-size: 30px;
  font-weight: normal;
  padding: 0rem 0rem 2rem 0rem;
}

.copy {
  text-align: justify;
  color: gold;
  font-size: 20px;
  line-height: 2;
  padding: 1rem;
  width: 460px;
}

.igWidget {
  width: 665px;
  height: 395px;
  overflow: hidden;
  margin: 0rem 1rem 2rem 4rem;
}

.contactContainer {
  display: flex;
  flex-direction: row;
}

.contactSection {
  margin: 0rem 4rem 0rem 4rem;
  padding-top: 4rem;
}

.contactUs {
  font-family: var(--cactus);
  font-size: 32px;
  font-weight: 500;
  width: 480px;
  padding-bottom: 2rem;
}

.hoursConatainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0rem 0rem 2rem 0rem;
  padding-bottom: 2rem;
  width: 100%;
}

.hoursSection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid  rgb(119, 90, 15);
  width: 480px;
}

.hours {
  color: gold;
  font-size: 20px;
  padding: .4rem;
}

.map {
  width: 100%;
  height: 400px;
  border-radius: 10px;;
}

.igLogo,
.fbLogo {
  margin: 2rem 1rem 0rem 1rem;
  height: 50px;
  width: auto;
}

.break {
  border: 0.5px solid rgb(119, 90, 15);
}

/* form styling */

.contactUsSub {
  color: gold;
  font-size: 20px;
  text-align: center;
  padding-bottom: 4rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.label,
.form {
  margin-bottom: 0.5rem;
}

.form,
.messageForm {
  font-size: 18px;
  padding: 0.5rem;
  border-radius: 5px;
}

.messageForm {
  height: 100px;
  margin-bottom: 2rem;
}

.formSubmit {
  background-color: goldenrod;
  color: black;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.ctas {
  display: flex;
  gap: 16px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .formSubmit:hover {
    background: gold;
    border-color: transparent;
  }
}

@media (max-width: 1200px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .phone {
   margin-bottom: 2rem;
  }
  .tagLine {
    padding-top: 4rem;
    margin-top: 0rem;
    border-top: 1px solid rgb(119, 90, 15);
  }
  

  #heroSection, .contactContainer {
    flex-direction: column;
    width: 100vw;
    border-top: none;
    border-bottom: none;
    /*border-bottom: 1px solid rgb(119, 90, 15);*/
  }

  .copy {
    text-align: justify;
    color: goldenrod;
    font-size: 20px;
    line-height: 1.5;
    padding: 0rem 1rem 0rem 1rem;
    width: 100%;
  }

  .igWidget {
    width: 100%;
    height: 235px;
    margin: 0rem 0rem 4rem 0rem;
    padding: 0rem;
    overflow: hidden;
  }

  .break {
    border: none;
  }

  .main {
    align-items: center;
  }

  .section {
    width: 100%;
  }

  .logo,
  .tagLine,
  .copy,
  .contactForm,
  a.primary,
  .contactUsConatiner,  .contactContainer  {
    width: 90vw;
  }
.contactUs {
  width: 100%;
}
  .contactSection, .hoursConatainer {
    margin: 0rem;
    width: 90vw;
  }
  .hoursConatainer {
    margin-bottom: 4rem;
  }
  .contactSection {
    border-top: 1px solid rgb(119, 90, 15);
    margin-bottom: 4rem;
  }

  .hoursSection, .copy {
    width: 100%;
  }
.contactUsSub {
padding-bottom: 2rem;
}
  .headLine {
    font-size: 48px;
    width: 90vw;
  }

  .tagLine,
  .address,
  .phone {
    text-align: center;
    font-size: 30px;
    width: 90vw;
  }
}
