.page {
  --button-primary: #c9c1c1;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--assistant);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  align-self: center;
  height: auto;
  width: 550px;
}

.headLine {
  font-family: var(--cactus);
  font-size: 70px;
  font-weight: 500;
  margin-bottom: .5rem;
}

.address {
  font-family: var(--cactus);
  font-size: 24px;
  margin-bottom: 1rem;
}

.phone {
  font-family: var(--cactus);
  color: var(--foreground);
  text-decoration: underline;
  text-underline-offset: 4px; 
  font-size: 20px;
  margin-bottom: 6rem;
}

.tagLine, .contactUs {
  font-family: var(--cactus);
  font-size: 34px;
  font-weight: normal;
  margin-bottom: 2rem;
}

.contactUs {
  text-align: center;
}

.copy {
  font-size: 20px;
  width: 480px;
  margin-bottom: 6rem;
}

.section {
  margin-bottom: 6rem;
}

.hoursSection {
  display: flex;
  justify-content: space-between;
  width: 360px;
  margin-bottom: .5rem;
}

.hours {
  font-size: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  width: 460px;
}

.label, .form {
  margin-bottom: .5rem;
}

.form, .messageForm {
  font-size: 18px;
  padding: .5rem;
  border-radius: 5px;
}

.messageForm {
  height: 100px;
  margin-bottom: 2rem;
}

.formSubmit {
  background-color: var(--button-primary);
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.ctas {
  display: flex;
  gap: 16px;
}

.igLogo {
  height: 60px;
  width: auto;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover, .formSubmit:hover {
    background: var(--foreground);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .logo, .tagLine, .copy, .hoursSection, .contactForm, a.primary  {
    width: 90vw;
  }

  .headLine {
    font-size: 50px;
  }

  .tagLine {
    text-align: center;
    font-size: 30px;
  }
}

