.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(65, 0, 65, .8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  
  .modalContent {
    text-align: center;
    background:  var(--foreground);
    padding: 1rem;
  }
  
  
  .modalHeader {
    color: var(--background);
    background: linear-gradient(-45deg, var(--primaryTeal), var(--secondaryCyan));
    font-size: 26px;
    font-weight: 600;
    padding-top: 1rem;
    margin-bottom: .5rem;
  }
  
  .modalSubHeader {
    color: var(--background);
    font-size: 18px;
    padding: 0.5rem 1rem 2rem 1rem;
  }
  
  .modalButton {
    background-color: gold;
    font-size: 18px;
    padding: 1rem .5rem 1rem .5rem;
    margin: 1rem;
    width: 200px;
    border-radius: 128px;
    transition: background-color 0.2s;
    cursor: pointer;
    filter: drop-shadow(-1px 1px .1rem #858085);
  }

  .modalButton:hover {
    background-color: gold;
  }

  @media (max-width: 600px) {
    .modalContent {
      width: 100%;
      padding: .5rem;
    }
  }